<footer id="footer" role="footer" class="border-top">
	<section class="section text-center">
		<a href="https://github.com/nbrettell?tab=repositories"><i class="fab fa-github fa-2x"></i></a>
		<p class="text-small text-center text-gray">&copy; {{ page.author }} 2018 </p>
	</section>
</footer>