<header role="header" id="main">
	<section class="row section">
		<div class="logo col-md-2">
			<img class="image-logo" alt="{{ page.author }}, Bristol based Web developer" src="/assets/img/portfolio_circle_black.png" />
		</div>

		{% include 'partials/nav.njk' %}

		<div class="section-about col-md-12">
			<h1 class="name text-huge">{{ page.hero_title }}</h1>
			<p class="text-medium text-gray">I love Music, Technology and JavaScript</p>
		</div>
	</section>
</header>