<header role="header" id="main">
	<section class="row">
		<div class="logo col-md-3">
			<img class="image-logo" alt="{{ page.author }}, Bristol based Web developer" src="/assets/img/portfolio_circle_black.png" />
		</div>
		<div class="section-about col-md-9">
			<h1 class="name text-huge">{{ page.author }}</h1>
			<p>{{ page.description }}</p>
		</div>
	</section>
</header>