<nav role="navigation" class="the-navigation col-md-10 align-right">
	<ul class="menu nav">
		<li class="menu-item"><a href="#contact" class="button button-outlined link-contact" title="Contact me"><i class="far fa-envelope"></i> Contact</a></li>
	</ul>
</nav>